.heroUS {
    background: url(../../../assets/locallondres.png), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 10px;
}

.heroUS .presentacion {
    display: flex;
    flex-direction: column;
    /* Para centrar los elementos horizontalmente */
}

.heroUS .presentacion h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    line-height: 1;
    /* Elimina el margen superior e inferior */
}

.heroUS .presentacion p {
    color: rgb(172, 172, 172);
    font-size: 2rem;
    margin: 0;
    line-height: 1;
    /* Elimina el margen superior e inferior */
}

@media screen and (max-width: 1280px) {

    .heroUS {
        margin-left: 9rem;
        margin-right: 9rem;
    }

}

@media screen and (max-width: 884px) {

    .heroUS {
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }

}


@media screen and (max-width: 820px) {

    .heroUS {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

}


@media screen and (max-width: 800px) {
    .heroUS {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}


@media screen and (max-width: 430px) {
    .heroUS {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 3rem;
    }

    .heroUS .presentacion h1 {
        font-size: 3rem;
    }

    .heroUS .presentacion p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {

    .heroUS {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 3rem;
    }

    .heroUS .presentacion h1 {
        font-size: 2rem;
    }

    .heroUS .presentacion p {
        font-size: 1rem;
    }

}