footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

footer p {
    font-size: 1.2rem;
}

footer p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}